<div>
  <%= image_tag @user.avatar_profile %>
  <%= @user.email %>
  <%= @user.name %>
  <%= @user.about %>
</div>

<h3>Posts (<%= @user.posts.count %>)</h3>
<br>

<div class="row">
  <% if @user.posts.any? %>
    <%= render @posts %>
    <%= will_paginate @posts %>
  <% end %>
</div>
