<% @post = post %>
<div class="post" id="post-<%= @post.id %>">
  <%= link_to (image_tag @post.display_image if @post.image.attached?), @post %>
  <br>
  <div class="avatar"><%= link_to image_tag @post.user.display_avatar %></div>
  <span class="user"><%= link_to @post.user.name, @post.user %></span>
  <div id="likes-<%= @post.id %>">
    <%= @post.likeposts.count %> <%= (@post.likeposts.count) == 1 ? 'Like' : 'Likes'%>
  </div>
  <%= render 'posts/like_form' %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@post.created_at) %> ago.
    <% if @post.user_id ==  current_user.id%>
      <%= link_to "delete", @post, method: :delete,
                      data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</div>
