<div class="col-md-4">
  <%= image_tag @post.image if @post.image.attached? %>
  <p><%= @post.likeposts.count %> <%= (@post.likeposts.count) == 1 ? 'Like' : 'Likes'%></p>
  <% pre_like = @post.likeposts.find { |likepost| likepost.user_id == current_user.id} %>
  <% if pre_like %>
    <%= button_to 'Unlike', post_likepost_path(@post, pre_like), method: :delete %>
  <% else %>
    <%= button_to 'Like', post_likeposts_path(@post), method: :post %>
  <% end %>
  <div class="row">
    <div class="col-md-8">
      <section class="post_form">
        <%= render 'shared/comment_form' %>
      </section>
    </div>
  </div>


  <div class="col-md-10">
      <% if @post.comments.any? %>
        <h3>Comments (<%= @post.comments.count %>)</h3>
        <ol class="posts">
          <%= render @comments %>
        </ol>
        <%= will_paginate @comments %>
      <% end %>
    </div>
</div>
